.wrapper {
  display: flex;
}
.notice-board {
    background-color: #FFA54F;
    width: 800px;
    padding-top: 35px;
    padding-left: 35px;
    border: 10px solid #966F33;
    box-shadow: inset -1px 2px 2px #404040, 6px 9px 1px rgba(0, 0, 0, 0.1);
}
